name: membrane_s3_plugin CI
on: push

env:
  MIX_ENV: test

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: ["24.3.4.1", "25.0.2"]
        elixir: ["1.13.4"]
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - name: Mix dependencies cache
        uses: actions/cache@v2
        id: mix-cache
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - run: mix deps.get
      - run: mix format --check-formatted
        if: matrix.elixir == '1.13.4' # Only check formatting with the latest version
      - run: mix compile --warnings-as-errors
      - run: mix test
      - run: mix credo
      - name: Run Dialyzer
        run: mix dialyzer
      - name: Install mix deps
        run: mix deps.get
